/* body {font-size: 14px;} */
// 最下層の要素にしか文字サイズは適応させない
@mixin txt-xxl {
    font-size: 20px;
    font-size: 2rem;
}

@mixin txt-xl {
    font-size: 18px;
    font-size: 1.8rem;
}

@mixin txt-l {
    font-size: 16px;
    font-size: 1.6rem;
}

@mixin txt-m {
    font-size: 14px;
    font-size: 1.4rem;
}

@mixin txt-s {
    font-size: 12px;
    font-size: 1.2rem;
}

@mixin txt-xs {
    font-size: 10px;
    font-size: 1rem;
}

@mixin txt-xxs {
    font-size: 8px;
    font-size: 0.8rem;
}
