html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
button, input[type=submit], input[type=button] {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: ArialMT, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.2;
    -webkit-text-size-adjust:none;
    -webkit-tap-highlight-color: transparent;
}


/* bug fix for chrome */
body > div {
    font-size: 14px;
    font-size: 1.4rem;
}

dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,input,p,blockquote,fieldset,div {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: normal;
}

table {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 100%;
}

caption {
    text-align: left;
}

table,pre,code,select,input,textarea,kbd,var,ins,del,samp {
    font-size: 100%;
}

address,cite,dfn,em,strong,var,th,ins,del,samp {
    font-weight: normal;
    font-style: normal;
}

a img {
    border: 0;
}

fieldset {        
    border: none;
}

textarea {
    padding: 0;
    vertical-align: top;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px;
}

a {
    text-decoration: none;
}

img {
    vertical-align: bottom;
}

.cf:after { 
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.cf {
    min-height: 1px;
}

* html .cf {
    height: 1px;
}

.container {
    text-align: left;
}

input, textarea, select {
    -webkit-appearance:none;
    border: none;
}
